@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>An MVC.NET Web application to enable capture of key metrics of all of a single organization’s scrum teams’ performance on a quarterly basis, tracking and modifying scrum teams, scrum masters, and multiple evaluations associated with them, so that it can be utilized as a dashboard to measure the effectiveness and performance of a team’s assigned Scrum Master over multiple quarters.</p>
