@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scrum Master Performance</h1>
    <p class="lead">Web application to enable capture of key metrics of all of a single organization’s scrum teams’ performance on a quarterly basis, tracking and modifying scrum teams, scrum masters, and multiple evaluations associated with them, so that it can be utilized as a dashboard to measure the effectiveness and performance of a team’s assigned Scrum Master over multiple quarters.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Scrum Teams</h2>
        <p>
            Create and manage all scrum teams, including their date of creation, to track the maturity of teams on their agile journey. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scrum Masters</h2>
        <p>Link scrum masters to multiple teams and multiple team evaluations. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Team Metrics</h2>
        <p>Easily view all evaluations by a single scrum master, or by teams to watch the progression of their performance throughout mulitple fiscal quarters and years.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>